body {
  font-family: Arial, sans-serif;
  background-color: #e2b456;
  color: #e2b456;
}

header {
  background-color: rgba(193, 166, 194, 255);
  color: #e2b456;
}

header img {
  max-height: 60px;
}

.jumbotron {
  background-image: url("../images/favplac.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  color: #e2b456;
}

footer a {
  text-decoration: none;
  font-size: 1.2rem;
  background-color: rgba(198, 172, 200, 255);
}

footer {
  position: fixed;
  bottom: 0;
  background-color: rgba(198, 172, 200, 255);
  color: #e2b456;
  padding: 1rem;
  text-align: center;
}

.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

@media (max-width: 768px) {
  .jumbotron h1 {
    font-size: 2rem;
  }
  .card {
    margin-bottom: 1rem;
  }
}
